.App {
  height: 100vh;
  width: 100vw;
  background-color: aquamarine;

  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.Search {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100%;
  width: 50%;

  background: linear-gradient(to left, transparent 0%, #242526 200%);
  z-index: 2;
}

.WeatherInfo {
  grid-column: 3/4;
  grid-row: 1/4;
  min-height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent 0%, #242526 200%);
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 32px;
  color: white;
  padding: 3vh 3vw 3vh 0;
}

.myMapContainer {
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: 1;
}

#myMap {
  height: 100%;
  width: 100%;
}

.testText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 32px;
  color: white;
  align-items: flex-end;
  height: 100%;
}

.WeatherInfo .testText {
  transform: translateX(200%);
}

.WeatherInfo .testText img {
  max-width: 10%;
}

.MovieInfo {
  font-size: 16px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: flex-end;
  text-align: justify;
}

#moviePoster {
  height: 100%;
  width: 100%;
}
